<div>
    <div class="profile">
        <div class="profile-box" *ngIf="profile">
            <p class="my-profile" >MY PROFILE</p>
            <div class="row profile-row">

                <div class="col-lg-10 col-sm-12 edit-box">
                    <div class="edit-text" >

                        <p> <img class="edit-text-img" src="../../../../assets/images/dashboard/edit.png">EDIT PROFILE</p>
                    </div>
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-lg-3 user-avatar">
                                <img src="../../../../assets//images/dashboard/profile_pic.png">
                            </div>
                              <div class="col-lg-2">
                              <p class="text-field"> Name</p>
                              <p class="text-field" >Admin ID</p>
                              <p class="text-field">Address</p>
                              <p class="text-field">Phone</p>
                              <p class="text-field">Email</p>


                            </div>
                            <div class="col-lg-7">
                                    <p class="text-field-entry"> Angel</p>
                                    <p class="text-field-entry" >1321545ID</p>
                                    <p class="text-field-entry">sanfrancisco</p>
                                    <p class="text-field-entry">+12454124514514</p>
                                    <p class="text-field-entry">tem@user.com</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- <div class="profile-box" *ngIf="!profile">
                <p class="my-profile">Update Profile</p>
                <div class="row profile-row">
    
                    <div class="col-lg-10 col-sm-12 edit-box">
                        <div class="edit-text">
    
                            <p> <img class="edit-text-img" src="../../../../assets/images/dashboard/edit.png">EDIT PROFILE</p>
                        </div>
                        <div class="profile-content">
                            <div class="row">
                                <div class="col-lg-3 user-avatar">
                                    <img src="../../../../assets//images/dashboard/profile_pic.png">
                                </div>
                                  <div class="col-lg-2">
                                  <p class="text-field"> Name</p>
                                  <p class="text-field" >Admin ID</p>
                                  <p class="text-field">Address</p>
                                  <p class="text-field">Phone</p>
                                  <p class="text-field">Email</p>
    
    
                                </div>
                                <div class="col-lg-7">
                                        <p class="text-field-entry"> Angel</p>
                                        <p class="text-field-entry" >1321545ID</p>
                                        <p class="text-field-entry">sanfrancisco</p>
                                        <p class="text-field-entry">+12454124514514</p>
                                        <p class="text-field-entry">tem@user.com</p>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div> -->



    </div>
</div>