<div class="noon-container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div>
        <ngb-tabset>
          <ngb-tab title="Metadata">
            <ng-template ngbTabContent>
              <div class="metadata noon-tab-content">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Grade
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    12
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Editing manager
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <select class="form-control" name="categoryId">
                      <option [value]=undefined disabled>Select</option>
                      <option>Paras chodavadiya</option>
                      <option>Rujal parekh</option>
                      <option>Ravi kate</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Course
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Geography
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Filming manager
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <select class="form-control" name="categoryId">
                      <option [value]=undefined disabled>Select</option>
                      <option>Paras chodavadiya</option>
                      <option>Rujal parekh</option>
                      <option>Ravi kate</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Lesson
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    3
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    Graphics manager
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <select class="form-control" name="categoryId">
                      <option [value]=undefined disabled>Select</option>
                      <option>Paras chodavadiya</option>
                      <option>Rujal parekh</option>
                      <option>Ravi kate</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    &lt;Username&gt; marked these issues as actionable.
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    QA manager
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <select class="form-control" name="categoryId">
                      <option [value]=undefined disabled>Select</option>
                      <option>Paras chodavadiya</option>
                      <option>Rujal parekh</option>
                      <option>Ravi kate</option>
                    </select>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Timestamps">
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
              squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Informer details">
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et
                odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed
                diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies
                in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <ngb-tabset>
          <ngb-tab title="Filming Status">
            <ng-template ngbTabContent>
              <div class="noon-tab-content">
                <div class="row">
                  <div class="col-md-6 col-xs-12" style="border-right: 2px solid #e5e5e5;">
                    <div class="row">
                      <div class="col-md-9">
                        Filming staff
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-secondary rounded-btn">
                          Add
                        </button>
                      </div>
                    </div>
                    <div class="">
                      <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Role</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let i of [1,1,1,1,1,1,1]">
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="row">
                      <div class="col-md-9">
                        Filming tasks
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-secondary rounded-btn">
                          Add
                        </button>
                      </div>
                    </div>
                    <div class="">
                      <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th>Task</th>
                              <th>Complete</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Task1</td>
                              <td>
                                <i class="fa fa-check-square"></i>
                              </td>
                              <td>
                                <a href="javascript:void(0)" style="margin-right:3px">Edit</a>
                                <a href="javascript:void(0)">Delete</a>
                              </td>
                            </tr>
                            <tr *ngFor="let i of [1,1,1,1,1,1,1]">
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Graphics Status">
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
              squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Editing Status">
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et
                odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed
                diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies
                in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div>
        <div class="card mb-3" style="margin-top:10px;">
          <div class="card-body btn text-center">
            Add links to final video files
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card mb-3" style="margin-top:10px;height: 92vh;">
        <div class="card-body btn text-center chat-body">
          <div style="height:calc(92vh - 75px);overflow: auto;">

          </div>
          <div class="row message-input-area">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <input autocomplete="off" class="message_input" name="message" placeholder="Write Message"
                type="text" ng-reflect-name="message">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <button class="btn send_button">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>