

@import '../../../../styles/utils';
.reports-page{
    .report-card{
        padding: 20px 0 0 45px;
        .text-header{
            padding: 0px;
            margin: 0px;
            font-size: 19px;
        }
    }
    .card{
       
        box-shadow: 0 1px 6px rgba(10, 10, 10, 0.64);
        text-align: center;
        font-size: 17px;
        font-weight: 700;
    }
    .row-section{
        padding: 10px 20px;
        .button-section{
            align-items: flex-end;
            display: flex;
        }
        .top-card{
            display: flex;
            /* justify-content: center; */
            align-items: flex-end;
        }
    }
    .middle{
        display: flex;
        align-items: center;
        width: 100%;
        .date-picker{
            width: 50%;
            height: 30px;
            padding: 8px 12px;
            font-size: 13px;
            margin: 0px 10px;
        }
        .label{
            color: gray;
            font-size: 13px;
            margin: 0;
        }
        .select-input{
            width: 50%;
            margin:0px 10px;
            height: 30px;
            font-size: 12px;
            padding: 5px;
        }
    }
    .header{
        display: flex;
        align-items: center;
        padding: 0;
    }
    .head-list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0px;
        .date{
           font-size: 12px;
         }
         .form-date{
            width: 111px;
            font-size: 12px;
            height: 27px;
            padding-left: 10px;
         }
         .select-class{
             font-size:12px;
             border-radius: 5px;
         }
         .m-l-10{
             margin-left: 10px;
         }
       
    }
    .reports-box{
        box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.22);
        .report-row{
            margin: 0;
            padding: 16px;
            border-bottom: 1px solid $lightgray;
            align-items: center;
        }
        .report-time-text{
            letter-spacing: 0.257143px;
            margin: 0;
            background: $darkyellow;
            border-radius: 30px;
            text-align: center;
            padding: 5px 15px 5px 15px;
            font-size: 12px;
            font-weight: 700;
        }
        .col-time-text{
            display: flex;
            align-items: center;
         }
   
    .report-text{
        letter-spacing: 0.257143px;
        font-size: 13px;
        color: $lightblack;
        margin: 0px;
        font-weight: 700;
           
     }
     .report-text-repot{
        letter-spacing: 0.257143px;
        font-size: 12px;
        color: $lightblack;
        margin: 0px;
     }
     .report-text-spam{
        letter-spacing: 0.257143px;
        font-size: 12px;
        color: $lightgray;
        margin: 5px 0 0 0;
     }
     .spam-time-text{
        letter-spacing: 0.257143px;
        color: #fb6e6e;
        font-weight: 600;
        font-size: 12px;
     }
     .details-btn{
       float:right;         
      background-color: $lightgreen;
      width: 100px;
      border: none;
     font-size: 12px;
     font-weight: 700;
     }
    }
    .m-0{
        margin: 0px;
    }
}