@import "../login/login.component.scss";
@import '../../styles/utils';
.forgot-password{
    .forgot-title{
        color: $lightblack;
        font-size: 25px;
        letter-spacing: 0.5803573px;
        font-weight: 700;
    }
    .form{
        background-color: white;
        box-shadow: 0 1px 6px rgba(10, 10, 10, 0.64);
        border-radius: 5px;
        .code-text{
            margin: 0;
    padding: 40px;
    letter-spacing: 0.3428573px;
            color: $lightblack;
        }
        .user_name{
            float: left;
    color: $lightblack;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
        }
        .send-code-btn{
            width: 360px;
            height: 57px;
            letter-spacing: 0.35px;
            border-radius: 30px;
            font-weight: 700;
            background-color: $lightgreen;
            border: none;
        }
        .login-text{
            text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: $darkblue;
        }
    }
    .verification-code{
        .resend-code{
            padding-top: 20px;
            font-size: 15px;
            span{
                padding-left: 20px;
                font-weight: 700;
                color: $darkblue;
            }
        }
    }
}
.simple-header{
    background-color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 60px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23)
}
.success-model{
    text-align: center;
    padding: 30px 0px 30px 0px;
    .success{
        padding-top: 15px;
        font-size: 20px;
        font-weight: 700;
        color: $lightgreen;
    }
    .reset{
        color: $lightblack;
    }
}


    .modal-dialog{
    .modal-content{
        background-color: transparent !important;
        border: none;
        .modal-header{
            background-color: transparent;
            border: none;
            padding: 1rem 0;
            .modal-title{
                color: $white;
    font-weight: 700;
            }
        }
        .modal-body{
            background-color: $white;
            border-radius: 0.3rem;
            .main-row{
                margin: 0;
                padding: 20px;
                .custome-input{
                    width: 100%;
                    height: 35px;
                    border-radius: 0px;
                }
                .input-title{
                    font-size: 16px;
                font-weight: 700;
                margin-bottom: 0.6rem;
                color: $lightblack;
                }
                .font-siz{
                    font-size: 15px;
                }
                .row-input{
                    padding-bottom: 20px;
                }
                .submit-btn{
                    text-align: center;
                    padding-top: 30px;
                }
                .details-btn{
                    color: $white;
                    background-color: $lightgreen;
                    height: 34px;
                }
                
            }
        }
    }
}
