<!-- <simple-header class="simple-header"></simple-header> -->

<div class="login-page forgot-password">
    <div class="row justify-content-md-center">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <div *ngIf="forgot && !resetpassword">
                <P class="forgot-title">Forgot Password</P>
                <div class="form">
                    <!-- <img class="user-avatar" src="assets/images/logo.png" width="100px" />
                <h1>Noon - Forgot password </h1> -->
                    <p class="code-text">A reset code will be sent to your email or phone. Please enter your email or phone
                        number below </p>
                    <form role="form" #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.form.valid && openChangePassword()">
                        <div class="form-content">
                            <div class="form-group">
                                <label class="user_name">Email/Phone No</label>
                                <input type="email" name="email" class="form-control input-underline input-lg" [(ngModel)]="forgotPasswordModel.email" placeholder="Enter your Email / Phone"
                                    #email="ngModel" required>
                                <div *ngIf="email.invalid && email.touched">
                                    <p class="input-info error-message" *ngIf="email.errors.required">Email or Phone is required
                                    </p>

                                </div>
                            </div>
                        </div>
                        <button class="btn btn-secondary send-code-btn" type="submit">SEND CODE</button>
                        <!-- <p class="login-text" [routerLink]="['/login']">LOGIN</p> -->
                    </form>
                </div>
            </div>
            <div *ngIf="verification" class="verification-code">
                <P class="forgot-title">Verification Code</P>
                <div class="form">
                    <!-- <img class="user-avatar" src="assets/images/logo.png" width="100px" />
                    <h1>Noon - Forgot password </h1> -->
                    <p class="code-text">Varification code was sent to your email</p>
                    <form role="form" #verificationcode="ngForm" (ngSubmit)="verificationcode.form.valid && closeSuccess('password')">
                        <div class="form-content">
                            <div class="form-group">
                                <label class="user_name">Enter Verification Code</label>
                                <input type="password" name="code" class="form-control input-underline input-lg" [(ngModel)]="verificationdModel.code" placeholder="Code"
                                    #code="ngModel" required>
                                <div *ngIf="code.invalid && code.touched">
                                    <p class="input-info error-message" *ngIf="code.errors.required">Code is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-secondary send-code-btn" type="submit">VERIFY</button>
                        <p class="resend-code">Didn't receive the code?<span>Resend</span></p>
                    </form>
                </div>
            </div>
            <div *ngIf="resetpassword" class="reset-password">
                <P class="forgot-title">Reset Your Password</P>
                <div class="form">
                    <!-- <img class="user-avatar" src="assets/images/logo.png" width="100px" />
                        <h1>Noon - Forgot password </h1> -->
                    <p class="code-text">Plaese set up your new password</p>
                    <form role="form" #PasswordForm="ngForm" (ngSubmit)="PasswordForm.form.valid && closeSuccess('conform')">
                        <div class="form-content">
                            <div class="form-group">
                                <label class="user_name">New Password</label>
                                <input type="password" class="form-control input-underline input-lg" [pattern]="passwordPattern" placeholder="New password"
                                    title="Use 8 or more characters with a mix of letters, numbers & symbols" name="password"
                                    [(ngModel)]="PasswordModel.password" #password="ngModel" [required]="!isEditView">
                                <div *ngIf="password.invalid && (password.touched || PasswordForm.submitted)">
                                    <p class="input-info error-message" *ngIf="password.errors.required">Password is required
                                    </p>
                                    <p class="input-info error-message" *ngIf="password.errors.pattern">Password must contain
                                        8 or more characters with a mix of letters, numbers & symbols.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="user_name">Confirm New Password</label>
                                <input type="password" class="form-control input-underline input-lg" name="confirmPassword" [(ngModel)]="PasswordModel.confirmPassword"
                                    placeholder="Confirm New Password" #confirmPassword="ngModel" [required]="!isEditView">
                                <div *ngIf="(confirmPassword.touched || PasswordForm.submitted)">
                                    <p class="input-info error-message" *ngIf="PasswordModel.password && (PasswordModel.password !== PasswordModel.confirmPassword)">
                                        Password and confirm password not matches.
                                    </p>
                                    <p class="input-info success-message" *ngIf="PasswordModel.password && (PasswordModel.password == PasswordModel.confirmPassword)">
                                        Password and confirm password matches.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-secondary send-code-btn" type="submit">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #SucessContent let-c="close" let-d="dismiss">
    <div class="success-model">
        <img src="../../assets/images/login/success.png">
        <p class="success" (click)="d('Cross click');closeSuccess('code')">Success!</p>
        <p class="reset">Rset code sent to your email</p>
    </div>

</ng-template>




<!--web -->
<ng-template #verfycode let-c="close" let-d="dismiss">
    <div class="modal-header " *ngIf="!verification_code">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <img src="assets/images/dashboard/close.png" class="close" aria-label="Close" (click)="d('Cross click')">

    </div>
    <div class="modal-header " *ngIf="verification_code">
        <div class="w-100">
            <h4 class="modal-title" id="modal-basic-title">Rest Code Verification</h4>
        </div>
        <img src="assets/images/dashboard/close.png" class="close" aria-label="Close" (click)="d('Cross click')">

    </div>
    <div class="modal-body" *ngIf="!verification_code">
        <div class="row main-row">
            <div class="col col-xl-12 col-lg-12 col-12 ">
                <div>

                    <div>
                        <!-- <img style="height:50px;width:50px;" class="img-h" src="../../assets/images/login/success.png">   -->
                    </div>
                    <p class="text-center"><span class="color-lightgreen">Rest Code Sent Successfully
                        </span> </p>
                    <p class="code-text-center text-center">Please enter verification code sent to you </p>
                </div>
                <div class="row">
                    <div class="col col-8 col-lg-10 col-xl-10">
                        <label class="verification-text">Verification Code</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-11 col-lg-11 col-xl-12">
                        <input class="input-text" type="text" placeholder="">
                    </div>
                </div>
                <div class="text-center p-t-40 " (click)="verify()">
                    <button class="btn btn-secondary verify-code-btn f-w-700"> VERIFY CODE </button>&nbsp;
                </div>
                <div class="text-center p-t-40 ">
                    <p class="text-resend">Didn't recieve the code?<span class="color-blue">Resend Code</span></p>
                </div>





            </div>
        </div>
    </div>







    <div class="modal-body " *ngIf="verification_code" (click)="verify_code2()">
        <div class="row main-row">
            <div class="col col-xl-12 col-lg-12 col-12 ">
                <div style="    text-align: center;">
                    <p style="font-weight:700">Please wait while we reset code is being verified </p>

                </div>
                <div style="    text-align: center;">
                    <img class="loading-img" src="assets/images/dashboard/loading.png">
                </div>
            </div>
        </div>
    </div>

</ng-template>




<!--password success-->












<ng-template #passwordsucess let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <img src="assets/images/dashboard/close.png" class="close" aria-label="Close" (click)="d('Cross click')">

    </div>

    <div class="modal-body">
        <div class="row main-row">
            <div class="col col-xl-12 col-lg-12 col-12 ">
                <div>

                    <div>
                        <!-- <img style="height:50px;width:50px;" class="img-h" src="../../assets/images/login/success.png">   -->
                    </div>
                    <p class="text-center"><span class="color-lightgreen">Rest Code Sent Successfully
                        </span> </p>
                    <p class="code-text-center text-center">Please enter verification code sent to you </p>
                </div>
                <div class="row">
                    <div class="col col-8 col-lg-10 col-xl-10">
                        <label class="verification-text">Verification Code</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-11 col-lg-11 col-xl-12">
                        <input class="input-text" type="text" placeholder="">
                    </div>
                </div>
                <div class="text-center p-t-40 " (click)="verify()">
                    <button class="btn btn-secondary verify-code-btn f-w-700"> VERIFY CODE </button>&nbsp;
                </div>
                <div class="text-center p-t-40 ">
                    <p class="text-resend">Didn't recieve the code?<span class="color-blue">Resend Code</span></p>
                </div>

            </div>
        </div>
    </div>



</ng-template>









<ng-template #passwordsucess_OK let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <img src="assets/images/dashboard/close.png" class="close" aria-label="Close" (click)="d('Cross click')">

    </div>

    <div class="modal-body">
        <div class="row mai n-row">
            <div class="col col-xl-12 col-lg-12 col-12 ">
                <div class="modal-text">
                    <p>Password Reset Sucess</p>
                </div>
                <div class="modal-text">
                    <img src="../../assets/images/login/success.png">
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer w-30">
        <div class="">
            <button btn secondary class="modal-title btn-ok" (click)="ok_success()">OK</button>
        </div>

    </div>



</ng-template>